
@font-face {
	font-family: "Literata 24 Medium";
	src: url("../Literata/static/Literata_24pt-Medium.ttf") format("WOFF");
}

@font-face {
    font-family: 'Inconsolata SemiBold';
    src: url('../Inconsolata/static/Inconsolata-SemiBold.ttf');
}

#scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  width: 0%;
    background: linear-gradient(90deg, rgba(164, 164, 164, 0.411), rgba(88, 89, 89, 0.4));
  backdrop-filter: blur(6px) saturate(150%);
  -webkit-backdrop-filter: blur(6px) saturate(150%);
  border-radius: 0 2px 2px 0;
  z-index: 9999;  z-index: 9999;
  transition: width 0.1s ease-out;
}

.project-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-outer-wrap {
    margin-top: 4%;
}

.project-h1 {
    font-family: "Literata 24 Medium";
    font-size: 26px;
    color: #2B2E2E;
}

.project-p {
	color: #2B2E2E;
	font-family: "Helvetica Now Text Regular";
	font-size: 14px;
    line-height: 130%;
}

.col-project-flex {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.left-col {
  padding-bottom: 1rem;
}

.left-col a {
  display: flex;
  margin: 1rem 0;
  color: #606565;
  text-decoration: none;
  font-size: 11px;
  font-family: "Helvetica Now Text Regular";
}

.research {
    color: #606565;
    font-size: 11px;
    font-family: "Helvetica Now Text Regular";
}

.research-link {
    text-decoration: underline;
    color: #606565;
    font-family: "Helvetica Now Text Regular";
}

.link-standard {
    text-decoration: underline;
    color: #606565;
}

.link-standard:hover {
    color: #3a23e4;
}

.nf-sub-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-metadata {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-wrap {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.section-wrap img {
    width: 2.5vw;
}

.meta-label {
    display: flex;
    color: #2B2E2E;
    font-size: 13px;
    font-family: "Helvetica Now Text Medium";
}

section p {
    color: #2B2E2E;
    font-family: "Helvetica Now Text Regular";
    font-size: 13px;
    line-height: 130%;
}

section h3 {
    font-family: "Literata 24 Medium";
    font-size: 24px;
    color: #2B2E2E;
}

.sec-img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #C7C7C7;
}

.full-img {
    width: 100%;
}

.end-small-img {
    width: 50%;
}

.section-divider {
    height: 4rem;
}

.smooth-vid {
    border-radius: 12px;
}

.project-link {
    color: #E97503;
}

.social-link {
    color: #4A5899;
}

.social-link:hover {
    text-decoration: underline;
}

.nf-title-wrap {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 768px) { 
    .project-metadata {
        flex-direction: row;
        justify-content: space-between;
    }

    .col-project-flex {
        width: 100%;
    }

}

/* LAPTOP MEDIA QUERY */
@media screen and (min-width: 992px) { 

section {
    gap: 20px;
}

 .project-outer-wrap {
    margin-top: 1.2% 3%;
}

.project-h1 {
    font-size: 42px;
    margin-bottom: 8px;
}

.project-p {
	font-size: 18px;
}

.col-project-flex {
    margin-top: 4rem;
    gap: 6rem;
    width: 60vw;
}

 .left-col {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    width: 20%;
}

.left-col a:nth-child(1) {
    margin-top: 10%;
}

.project-label {
    width: 100%;
}

.nf-sub-wrap {
    gap: 8px;
}

.project-metadata {
    flex-direction: row;
    justify-content: space-between;
}

.project-metadata p {
    line-height: 130%;
}

.left-col a {
    font-size: 12px;
    margin: .5rem 0;
    padding: .3rem;
    border-radius: 2px;
    transition: all 200ms ease-in-out;
}

.left-col a:hover {
    transform: translateX(4px);
    background-color: #d1d1d1;
}

.right-col {
    width: 90%;
    margin-left: 6rem;
}

.about-flex {
    gap: 4rem;
}

.meta-label {
    font-size: 16px;
}

section h3 {
    font-family: "Literata 24 Medium";
    font-size: 18px;
    color: #2B2E2E;
}

section p {
    font-size: 16px;
}

section h3 {
    font-size: 36px;
}

.section-wrap {
    gap: 1vh;
}

.section-wrap img {
    width: .7vw;
}

.project-link {
    transition: all 200ms ease-in-out;

}

.project-link:hover {
    text-decoration: underline;
}

.research {
    font-size: 14px;
    width: 100%;
}

.research-link:hover {
    color: #3a23e4;
}

.end-small-img {
    width: 30%;
}

.button-next {
	font-size: 16px;
	padding: 10px 10px; 
    font-family: "Helvetica Now Text Medium";
	border: 1px solid;
	transition: all 300ms ease-in-out;
}

.button-next:hover {
	background-color: #e183bf;
	border: 1px solid #4f0633;
    color: #5D003A;
	padding: 10px 14px; 
}

.nf-title-wrap {
    justify-content: space-between;
    flex-direction: row;
}

}