.archive-grid-scrap {
  column-count: 1;
  column-gap: 20px;
  padding-top: 8px;
}

.play-wrap {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  margin-bottom: 20px;
  overflow: hidden;
}

.project-frame {
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
}

.archive-media {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.project-label_small {
  font-size: 8px;
  color: #393939;
  border: .5px solid #393939;
  padding: 2px;
  border-radius: 2px;
  width: fit-content;
}

.project-label-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

/* TABLET MEDIA QUERY */
@media screen and (min-width: 768px) {
  .archive-grid-scrap {
    column-count: 2;
  }
}

/* LAPTOP MEDIA QUERY */
@media screen and (min-width: 992px) {
  .archive-grid-scrap {
    column-count: 3;
    column-gap: 20px;
  }

  .play-wrap {
    margin-bottom: 20px;
  }

  .project-label_small {
    font-size: 9px;
  }

  .project-label_small {
    padding: 3px;
  }
}