body {
	background-color: #E4E4E4;
	  transition: background-color 0.6s ease;
}

main, header {
	padding: 0;
}

::selection {
  background: #FE6EC9; 
  color: #ffffff;     
}

::-moz-selection {
  background: #FE6EC9;
  color: #ffffff;
}

@font-face {
    font-family: 'Inconsolata Extra Light';
    src: url('../Inconsolata/static/Inconsolata-ExtraLight.ttf');
}

@font-face {
    font-family: 'Inconsolata Light';
    src: url('../Inconsolata/static/Inconsolata-Light.ttf');
}

@font-face {
    font-family: 'Inconsolata Regular';
    src: url('../Inconsolata/static/Inconsolata-Regular.ttf');
}


@font-face {
    font-family: 'Inconsolata Medium';
    src: url('../Inconsolata/static/Inconsolata-Medium.ttf');
}

@font-face {
    font-family: 'Inconsolata SemiBold';
    src: url('../Inconsolata/static/Inconsolata-SemiBold.ttf');
}

@font-face {
    font-family: 'Inconsolata Bold';
    src: url('../Inconsolata/static/Inconsolata-Bold.ttf');
}


@font-face {
	font-family: "Helvetica Now Text Bold";
	src: url("../helveticanow/HelveticaNowText-Bold.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Light";
	src: url("../helveticanow/HelveticaNowText-Light.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Medium";
	src: url("../helveticanow/HelveticaNowText-Medium.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Medium Italic";
	src: url("../helveticanow/HelveticaNowText-MediumItalic.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Light";
	src: url("../helveticanow/HelveticaNowText-ExtLtIta.woff2") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Light Nonitalic";
	src: url("../helveticanow/HelveticaNowText-Light.woff") format("WOFF");
}


@font-face {
	font-family: "Helvetica Now Text Regular";
	src: url("../helveticanow/HelveticaNowText-Regular.woff") format("WOFF");
}

/* literata font: */
@font-face {
	font-family: "Literata Regular";
	src: url("../Literata/static/Literata-Regular.ttf") format("WOFF");
}

@font-face {
	font-family: "Literata Bold";
	src: url("../Literata/static/Literata-Bold.ttf") format("WOFF");
}

@font-face {
	font-family: "Literata 24 Medium";
	src: url("../Literata/static/Literata_24pt-Medium.ttf") format("WOFF");
}

@font-face {
	font-family: "Literata 24 Regular";
	src: url("../Literata/static/Literata_24pt-Regular.ttf") format("WOFF");
}


@font-face {
	font-family: "Literata 24 Medium Italic";
	src: url("../Literata/static/Literata_24pt-MediumItalic.ttf") format("WOFF");
}

* {
	text-decoration: none;
	padding: 0px;
    box-sizing: border-box;
}

main {
	margin: 6% 4%;
}


/* LOADING CSS: */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #dddddd; 
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.8s ease;
  z-index: 9999;
}

#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none;
}

.nav_item_links {
	margin-bottom: 6px;
	position: center;
}

.loading-date {
	font-size: 12px;
	color: #2B2E2E;
	font-family: "Helvetica Now Text Bold";
}

.kali-web {
	font-size: 12px;
	color: #2B2E2E;
	font-family: "Helvetica Now Text Light";
}

.load-wrap {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-items: center;
}

.loading-vid-container {
 	width: 210px;
    overflow: hidden;
    display: block;
    height: 115px;
}

.loading-vid {
  position: relative;
  width: 100%;         
  height: auto;
}

.load-vid-wrap {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 1.5rem;
}


.nav_links {
	flex-direction: column;
	align-items: flex-start;
}

.nav_links .navitem a {
	color: #2C2E2E;
}


.nav_links, .fullname-logo {
    list-style: none;
    display: flex;
    justify-content: end; 
	flex-direction: column;
    align-items: flex-end;
    font-family: "Helvetica Now Text Regular";
    align-content: flex-end;
    flex-wrap: wrap;
}

.nav-title-wrap {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.nav-title-wrap p {
	color: #626262;
	font-family: "Helvetica Now Text Regular";
	font-size: 11px;
}

.info-wrap {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: -2px;
}

.info-wrap li a {
	font-family: "Helvetica Now Text Regular";
}

.workdesc-index-wrap {
	margin-top: 12px;
	display: flex;
	align-items: center;
	gap: 2px;
	font-family: "Helvetica Now Text Medium";
	color: #656565;
	background-color: #dcdcdc;
	border-radius: 6px;
	padding: 2px 8px 2px 8px;
	height: 24px;
}

.workdesc-index-wrap img {
	width: 28px;
}

.info-wrap a,
.info-wrap .info-pic {
  transition: all 200ms ease-in-out;
}

.info-pic {
	width: 1.5rem;
	transition: transform 400ms ease-in-out;
	padding-right: 4px;
}

.navitem {
	font-size: 11px;
	transition: transform 400ms ease-in-out;
}

.nav_links > .navitem:first-of-type,
.nav_links > .navitem:nth-of-type(2) {
    padding-bottom: 10px;
}


.logo-wrap {
	display: flex;
	align-items: center;
	z-index: 1000;
}

.logo-wrap img {
	width: 6px;
	margin-right: 6px;
}

.fullname-logo {
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
	font-size: 13px;
}

.navfixed  {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 6% 4%;
}

.nav_links li a {
	color: #2B2E2E;
	transition: transform 400ms ease-in-out;
}

.nav_links li a:hover {
	color: #2C2E2E;
	font-family: "Helvetica Now Text Medium";
}

.skip a {
	background: white;
	border-radius: round;
	padding: 3px;
	-webkit-transition: top .5s ease-out;
	transition: top .5s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
}
  
.skip a:focus {
	position: absolute;
	top: 20px;
}

/* FOOTER MOBILE */
footer {
	margin-top: 10%;
	background-color: #171818;
}

/* new footer mobile: */
.foot-wrap {
	display: flex;
	background-color: #171818;
	align-items: center;
	/* border-bottom: 0.5px solid #646464; */
}

.footer-flex {
	padding: 0;
	margin: 8% 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	gap: 1rem;
}


.bottom-foot {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	background-color: #171818;
	padding: 4%;
}

.foot-wrap p {
	color: #b2b2b2;
}

.bottom-footer-p {
	color: #b2b2b2;
	line-height: 120%;
	font-size: 12px;
}

.email-cta a {
  color: inherit;
}

.email-cta {
	font-family: "Helvetica Now Text Regular";
	font-size: 14px;
	color: #b2b2b2;
	text-decoration: underline;
}

.rights {
	font-family: "Helvetica Now Text Regular";
	font-size: 12px;
	line-height: 120%;
}

.light, .bottom-footer-p  {
	font-family: "Helvetica Now Text Regular";
}

.notes-footer {
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.update-div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}


/* INDEX MOBILE: */
.attatch-tag {
	display: none;
}

.pixel-sticker {
	display: none;
}

.index-div-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 4rem;
}

.text-sticker-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
  	/* gap: 6px; */
}

.index-text {
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
	font-size: 16px;
	line-height: 18px;
}

.git-wrap {
	display: flex;
	gap: 4px;
	align-items: center;
}

.git-wrap p {
	font-family: "Helvetica Now Text Medium";
	color: #a3a3a3;
	font-size: 10px;
}

.hash-wrap img {
	height: 8px;
}

.hash-wrap p {
  color: white;
}

.hash-wrap:hover img {
  content: url("../images/git-icon-blue.png");
}

.hash-wrap:hover p {
  color: #4593F8;
}

.main-tag {
  font-family: monospace;
  background: #131D2E;
  color: #4593F8;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 11px;
  height: 100%;
}

.main-tag:hover {
	text-decoration: underline;
}

.hash-wrap {
	display: flex;
	gap: 2px;
	align-items: center;
}

.hash-wrap p {
	color: white;
	font-size: 10px;
	font-family: "Helvetica Now Text Regular";
	text-decoration: underline;
}

.pink-italic {
	color: #2C2E2E;
	font-family: "Helvetica Now Text Medium Italic";
}

.index-sub-text {
	font-size: 12px;
	color: #6A6A6A;
	font-family: "Helvetica Now Text Regular";
}

.intro-wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.elsewhere-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.elsewhere-wrap p {
    font-family: "Helvetica Now Text Regular";
	font-size: 11px;
    color: #5E5E5E;
}

.social-icon-wrap {
  display: flex;
  gap: 6px; 
  flex-wrap: wrap; 
}

.social-icon-wrap a {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}

.social-icon-wrap img {
  height: 14px;
  transition: all 0.3s ease;
  background-color: #2d2e2e;
  padding: 10px;
  border-radius: 6px;
  box-sizing: content-box; 
}

.social-icon-wrap img:hover {
	background-color: #2d2e2e;
}

.social-icon-wrap a:nth-child(2n):hover img {
  transform: rotate(-4deg);
}

.social-icon-wrap a:nth-child(2n+1):hover img {
  transform: rotate(4deg);
}

.primary-cta {
	font-family: "Helvetica Now Text Regular";
	font-size: 10px;
	display: inline-block;
	padding: 8px 8px; 
	border-radius: 30px;
	white-space: nowrap;
	border: 1px solid #171818;
	width: auto;
}

.primary-cta li a {
	color: #2B2E2E;
}

.index-socials-wrap {
	list-style: none;
    display: flex;
    justify-content: space-evenly; 
}

.index-socials-wrap-footer {
	list-style: none;
    display: flex;
	flex-direction: column;
    justify-content: space-evenly; 
	gap: .5rem;
}

.index-socials-wrap-footer li a {
	color: #939393;
	font-family: "Helvetica Now Text Regular";
	font-size: 9px;
	text-decoration: underline;
	transition: all 0.2s ease;
	line-height: 140%;
}

.bold {
	font-family: "Helvetica Now Text Bold";
}

.pink {
	color: #FE6EC9;
}

/* PROJECT GRID INDEX MOBILE: kal here */
.project-cover-img {
	object-fit: cover;
	width: 100%;
}

.pixelmade-div img {
	display: none;
}

.left-col-index {
	display: none;
}
/* INDEX MOBILE END */

/* PROJECT GRID MOBILE: */
.project-grid-wrap {
	display: flex;
	flex-direction: column;
	gap: 3em;
	justify-content: center;
	height: 100%;
}

.project-grid-wrap div {
	width: 100%;
}

.project-wrap video {
	width: 100%;
	display: block;
	border: none;
}

.project-frame, .project-wrap video {
	display: flex;
	background-color: #CFCFCF;
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	object-fit: cover;
}

.project-frame-full {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.vid-border {
	object-fit: cover;
}

.project-frame-full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.proj-left-wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.proj-link-wrap {
	gap: 6px;
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.proj-link-wrap h3 {
	color: #2B2E2E;
	font-family: "Helvetica Now Text Regular";
	font-size: 12px;
}

.proj-link-wrap p {
	font-family: "Helvetica Now Text Light Nonitalic";
	color: #2C2E2E;
	font-size: 12px;
	margin-bottom: 8px;
}

.project-label {
	font-family: "Helvetica Now Text Regular";
	font-size: 12px;
	color: #545454;
	margin-top: 6px;
	line-height: 15px;
}

.project-label_small {
	font-size: 9px;
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
	margin-top: 1.5%;
}

.archive-grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;            
	gap: 2rem;                     
}

.project-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.project-wrap-2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 2rem;
}

.project-frame {
  width: 100%;
}

.mobile-img {
	width: 20%;
}


.spotify-img {
	width: 25%;
}

.pixelmade {
	width: 60%;
}

.play-vid video {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

.bub-img {
	width: 60%;
}
/* PROJECT GRID MOBILE END */

/* SCRAPS MOBILE */
.scrap-cap {
    margin-top: 1rem;
    color: #2B2E2E;
    font-family: "Helvetica Now Text Regular";
    font-size: 13px;
    line-height: 130%;
}

.scrap-desc-div {
	margin-top: 8%;
}

.project-wrap_2col {
	display: flex;
	flex-direction: column;
	gap: 2em;
	justify-content: space-between;
}

.project-frame_2col {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background-color: #CFCFCF;
	overflow: hidden; 
	flex: 1;
}

.project-frame_2col img.mobile-img {
	width: 14%;
}

/* SCRAPS MOBILE END */



/* ABOUT MOBILE: */

.about-main {
	display: flex;
	flex-direction: column;
	gap: 8rem;
}


.about-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	height: 100vh;
}

.about-wrap-img {
	width: 50%;
}

.about-p {
	font-size: 12px;
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
	line-height: 140%;
}

.text-bold {
	font-family: "Helvetica Now Text Bold";
}

.about-text-wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.experiences-wrap {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.all-exp-rows {
	display: flex;
	flex-direction: column;
	gap: 4vh;
}

.exp-row-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2rem;
	border-bottom: .5px solid #646464;
}

.exp-h3 {
    font-family: "Literata 24 Regular";
    font-size: 18px;
    color: #dddddd;
}

.icon-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

.icon-wrap img {
	width: 30px;
	height: auto;
}

.exp-head {
	display: flex;
	flex-direction: row;
}

.company {
	font-size: 11px;
	color: #dddddd;
	font-family: "Helvetica Now Text Bold";
}

.position {
	font-family: "Helvetica Now Text Regular";
	font-size: 11px;
	color: #545454;
	line-height: 130%;
}

.position-date {
	font-size: 11px;
	color: #dddddd;
	font-family: "Helvetica Now Text Light Nonitalic";
	line-height: 130%;
}

.left-col-extra {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-top: -3rem;
}

.left-col-extra img {
	width: 100%;
}

.about-extras-wrap {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.right-col-extra {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1;
}

.right-col-extra, .left-col-extra {
	background-color: #d5d5d5;
	border-radius: 12px;
	border: 1px solid #d0d0d0;
	padding: 2%;
}


.about-p .emoji-line {
	border: 0.5px solid #AAAAAA;
	background-color: #E0E0E0;
	padding: 0.5rem 1rem;
	margin-bottom: 0.5rem;
	border-radius: 6px;
	transition: all 0.2s ease;
}

.about-p .emoji-line:hover {
	background-color: #F1F1F1;
	transform: translateX(4px);
}

.bg-scroll {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	margin-top: 2rem;
}

.right-col-extra {
	display: flex;
	flex-direction: column;
}

.right-col-extra .grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem; 
}

.right-col-extra img {
	width: 100%;
}

.bookmark-wrap {
	display: flex;
	flex-direction: column;
	word-break: break-word;
}

.bookmark-p {
	font-size: 10px;
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
	line-height: 140%;
}

.media-flex {
	display: flex;
	align-items: flex-start;
	gap: .5rem;
	padding: 8px 4px 8px 4px;
	transition: all 200ms ease-in-out;
	border: 1px solid transparent;
}

.media-flex:hover {
	background-color: #d5d5d5;
	border-radius: 8px;
	border: 1px solid #d0d0d0;
}

.media-flex.active {
  background-color: #d5d5d5;
	border-radius: 8px;
	border: 1px solid #d0d0d0;
}

.right-col-extra,
.left-col-extra {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition:
    max-height 0.6s cubic-bezier(0.6, 0.01, 0.05, 0.95),
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.right-col-extra.active,
.left-col-extra.active {
  max-height: 1000px; 
  opacity: 1;
  visibility: visible;
  width: 100%;
}



.text-media {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-items: left;
}

.text-media-img {
	width: 7%;
	height: auto;
	/* padding-top: 4px; */
}

.bold-about {
	font-size: 11px;
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
	line-height: 140%;
}

.media-preview-img {
	width: 75%;
	height: auto;
}

.media-wrap {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

@keyframes spin-right {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

@keyframes spin-left {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

.spin-right {
  animation: spin-right 0.3s ease forwards;
}

.spin-left {
  animation: spin-left 0.3s ease forwards;
}

.small-h3 {
	font-size: 16px;
	color: #2B2E2E;
    font-family: "Literata 24 Regular";
}

/* ABOUT MOBILE END */


/* TABLET MEDIA QUERY */
@media screen and (min-width: 768px) { 
	/* .navitem {
		padding: 6px;
	} */

	.navfixed {
		margin: 2% 2%;
	}

	main {
		padding: 0;
		margin: .5% 2%;
	}

  	header {
		padding: 0;
		margin: 0;
	}

	.pixel-sticker {
  		width: 25px;  
	}

	.pixel-sticker-div {
		width: 25%;
	}

	.index-socials-wrap {
		gap: 4px;
	}

	.index-text {
		width: 30%;
	}

	/* .text-sticker-wrap {
		gap: 10px;
	} */

	.primary-cta {
		font-size: 16px;
		padding: 16px 20px; 
		transition: all 200ms ease-in-out;
	}

	.primary-cta:hover {
		background-color: #171818;
		color: #cbcbcb;
	}

	.play-vid video {
		object-fit: contain;
		padding: 8%;
	}

	.about-wrap-img {
		width: 40%;
	}

	.text-media-img {
		width: 4%;
	}

	.media-preview-img {
		width: 40%;
	}

	.right-col-extra img {
		width: 50%;
	}

	.social-icon-wrap img {
		background-color: transparent;
		height: 16px;
		padding: 4px;
	}

	.footer-flex {
		padding: 0;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		gap: 1rem;
	}

	.bottom-foot {
		flex-direction: row;
		justify-content: space-between;
		margin: 0px;
		padding: 2% 3%;
	}

	.bottom-footer-p {
		line-height: 120%;
		font-size: 11px;
	}

	.rights {
		font-size: 10px;
		line-height: 120%;
	}

	.light, .bottom-footer-p  {
		font-family: "Helvetica Now Text Regular";
	}

	.notes-footer {
		display: flex;
		gap: 2rem;
		flex-direction: column;
	}

	.update-div {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.foot-wrap p {
		font-size: 14px;
	}

	.hash-wrap p {
		font-size: 11px;
	}

	.index-text {
		width: 40vw;
		/* margin-bottom: 12px; */
	}
}

/* LAPTOP MEDIA QUERY */
@media screen and (min-width: 992px) { 

	.info-pic {
		width: 2.2rem;
		opacity: 0.7;
		cursor: pointer; 
		transition: opacity 0.2s ease;
		margin-right: 4px;
	}


	main {
		padding: 0;
		margin: 1.2% 3%;
		position: relative;
		z-index: 1;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

  	header {
		padding: 0;
		margin: 0;
	}


.nav_item_links {
	margin-bottom: 6px;
	position: center;
}

	
.nav_links {
	list-style: none;
	display: flex;
	justify-content: end;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	margin: 0;
	z-index: 100;
	gap: 2rem;
}

.navitem {
	font-size: 14px;
}

.nav_links > .navitem:first-of-type,
.nav_links > .navitem:nth-of-type(2) {
	padding-bottom: 0px;
}

.navitem li a {
	transition: all 400ms ease-in-out;
}

.nav_links .navitem a {
	color: #5e6161;
}

.nav_links a.current {
	color: #2C2E2E;
	font-family: "Helvetica Now Text Medium";
}

.navfixed {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	margin: 2% 3%;
}

.fullname-logo {
	font-size: 18px;
	transition: all 400ms ease-in-out;
}

.proj-link-wrap h3 {
	font-size: 16px;
	color: #C3C4C4;
}

.fullname-logo:hover {
	color: #2C2E2E;
	font-family: "Helvetica Now Text Medium";
}

.fullname-logo.current {
	color: #2C2E2E;
	font-family: "Helvetica Now Text Medium";
}

.nav-title-wrap p {
	font-size: 14px;
}

.nav-title-wrap {
	gap: 8px;
}

.logo-wrap img {
	width: 9px;
	margin-right: 6px;
}

.intro-wrap {
	margin-bottom: 0rem;
}

/* FOOTER LAPTOP: */
.notes-footer {
	gap: 8rem;
	flex-direction: row;
}

.bottom-foot {
	padding: 3% 3%;
}

/* INDEX LAPTOP: */
.index-div-wrap {
	flex-direction: column;
	align-items: flex-start;
	width: 40vw;
	margin-top: 0rem;
	gap: 5rem;
}

.attatch-wrapper {
  position: relative;
}

.pixel-sticker {
  display: inline-block;
  position: absolute;
  width: 140px;  
  z-index: 2;
  top: 6px;
  left: 6px;
  rotate: 2.5deg;
}

.pixel-sticker-div {
	display: none;
}

.index-text {
	font-size: 18px;
	width: 100%;
	position: inline-block;
	line-height: 130%;
}

.index-cols {
	display: flex;
	flex-direction: row;
	gap: 2%;
	align-items: flex-start;
	height: 78vh;
}

.index-socials-wrap {
	justify-content: center;
	gap: 1.5em;
}

.elsewhere-wrap p {
	font-size: 16px;
}

.social-icon-wrap img {
    height: 24px;
	padding: 8px;
}

.elsewhere-wrap {
    gap: 10px;
	align-items: flex-start;
}

.index-socials-wrap-footer {
	flex-direction: row;
	gap: 2rem;
}

.index-socials-wrap-footer li a {
	font-size: 13px;
}

.index-socials-wrap-footer li a:hover {
	color: #E4E4E4;
}

.text-sticker-wrap {
  position: relative;
}

.footer-flex {
	margin: 3% 3%;
}

.nf-logo {
	width: 20%;
}
/* INDEX LAPTOP END */


/* PROJECT GRID LAPTOP: */
.project-label {
	font-size: 16px;
	margin-top: 8px;
}

.project-label_small {
	font-size: 10px;
	font-family: "Helvetica Now Text Regular";
	color: #2B2E2E;
}

.proj-link-wrap {
	gap: 10px;
	margin-top: 0px;
}

.proj-link-wrap p {
	font-size: 12px;
	margin-bottom: 14px;
	color: #C2C2C2;
}

.proj-desc-hide {
	display: none;
}

.project-grid-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.project-grid-wrap div, .archive-grid-scrap div, .project-grid-wrap video, .project-cover-img {
	transition: all 200ms ease-in;
}

.project-grid-wrap div,
.project-grid-wrap video, .project-cover-img {
  transition: transform 0.3s ease;
}

.project-grid-wrap div:hover,
.project-grid-wrap video:hover, .project-cover-img:hover {
  transform: translate(8px, -8px); 
}

.archive-grid {
	flex-direction: row;
}

.project-wrap {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
}

.pixelmade-div {
  position: absolute;
  top: -25px;   
  left: 10px;     
  z-index: 100;    
}

.pixelmade-div img {
  width: 24%;     
  display: block;
}

.left-col-proj-index-wrap:hover h3 {
  color: #2C2E2E;
  cursor: pointer;
  padding-left: 3px;
}

.left-col-proj-index-wrap h3.active,
.left-col-proj-index-wrap p.active {
  color: #2C2E2E;
  padding-left: 3px;
}

.info-wrap .pink-active a {
  color: #2C2E2E;
}

.left-col-index {
	display: block;
}

.left-col-proj-index-wrap:hover .proj-link-wrap p {
  color: #2C2E2E;
}

.left-col-proj-index-wrap h3, .left-col-proj-index-wrap p {
	transition: all 150ms ease-in-out;
}

.project-cover-img {
	object-fit: cover;
	width: 100%;
}


.bub-img {
	width: 95%;
}

.mobile-img {
	width: 35%;
}

.project-frame img {
	border: 0px;
}

.project-frame.dont-cover {
  object-fit: contain !important;
  height: 442px;
}

.play-vid video {
	object-fit: contain;
	padding: 25%;
	border: none;
}
/* PROJECT GRID LAPTOP END */

/* PROJECT CARD NAV JUMP: kal here */
.project-grid-wrap {
  position: relative;
  width: 100%;
}

.play-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.project-wrap {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  /* transform: translateY(50px); */
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.project-wrap.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.project-wrap.active {
  z-index: 10;
}

.project-wrap {
	transform: rotate(-2deg);
}

.play-wrap video {
	width: 100%;
	display: block;
	border: none;
	border-radius: 12px;
}

/* SCRAP LAPTOP: */
.scrap-cap {
    font-size: 18px;
}

.spotify-img {
	width: 80%;
}

/* SCRAP LAPTOP END */

.rights, .bottom-footer-p {
	font-size: 14px;
}

.top-button {
	transition: all 0.3s ease;
	padding: 12px 16px;
	border-radius: 30px;
	background-color: #242525;
	font-size: 14px;
}

.top-button .arrow, .top-button-white .arrow {
  display: inline-block;
  transition: transform 0.6s ease;
}

.top-button:hover {
	color: #d0d0d0;
	background-color: #343535;
}

.top-button:hover .arrow, .top-button-white:hover .arrow {
  transform: rotate(360deg);
}

.bottom-foot {
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.email-cta a {
  color: inherit;
}

.email-cta {
	font-size: 18px;
	color: #b2b2b2;
	transition: all 0.4s ease-in-out;
}

.email-cta:hover {
	color: #FE6EC9;
}

/* LOADING LAPTOP: */
.loading-date {
	font-size: 14px;
}

.kali-web {
	font-size: 12px;
}

/* ABOUT LAPTOP: */
.about-p {
	font-size: 14px;
}

.text-bold {
	font-family: "Helvetica Now Text Bold";
  	transition: all 200ms ease-in-out;
}

.text-bold:hover {
	color: #FE6EC9;

}

.experiences-wrap {
	flex-direction: row;
	justify-content: space-between;
}

.all-exp-rows {
	width: 70%;
}

.about-wrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 7rem;
	justify-content: center;
	margin-top: 6%;
}

.about-wrap-img {
	width: 36%;
}

.about-text-wrap {
	width: 30%;
	align-items: flex-start;
}

.company, .position, .position-date {
	font-size: 16px;
}

.icon-wrap img {
	width: 50px;
	height: auto;
}

.icon-wrap {
	gap: 1rem;
}

.exp-h3 {
    font-size: 28px;
}

.about-extras-wrap {
	flex-direction: row;
}

.bookmark-p {
	font-size: 12px;
}

.left-col-extra img {
	width: 70%;
}

.left-col-extra, .right-col-extra {
	gap: 2em;
}

.bookmark-wrap img {
	width: 100%;
	transition: transform 0.3s ease;
}

.bookmark-wrap:hover img {
	transform: translateY(-4px);
}

.emoji-line {
	width: 100%;
}

.bold-about {
	font-size: 14px;
}


.media-preview-img {
	width: 80%;
}

.text-media-img {
	width: 6%;
}

.small-h3 {
	font-size: 24px;
}

/* ABOUT LAPTOP END */
}