body {
	background-color: #141212;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'Inconsolata Extra Light';
    src: url('../Inconsolata/static/Inconsolata-ExtraLight.ttf');
}

@font-face {
    font-family: 'Inconsolata Light';
    src: url('../Inconsolata/static/Inconsolata-Light.ttf');
}

@font-face {
    font-family: 'Inconsolata Regular';
    src: url('../Inconsolata/static/Inconsolata-Regular.ttf');
}


@font-face {
    font-family: 'Inconsolata Medium';
    src: url('../Inconsolata/static/Inconsolata-Medium.ttf');
}

@font-face {
    font-family: 'Inconsolata SemiBold';
    src: url('../Inconsolata/static/Inconsolata-SemiBold.ttf');
}

@font-face {
    font-family: 'Inconsolata Bold';
    src: url('../Inconsolata/static/Inconsolata-Bold.ttf');
}


@font-face {
	font-family: "Helvetica Now Text Bold";
	src: url("../helveticanow/HelveticaNowText-Bold.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Light";
	src: url("../helveticanow/HelveticaNowText-Light.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Medium";
	src: url("../helveticanow/HelveticaNowText-Medium.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Medium Italic";
	src: url("../helveticanow/HelveticaNowText-MediumItalic.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Regular";
	src: url("../helveticanow/HelveticaNowText-Regular.woff") format("WOFF");
}

@font-face {
	font-family: "Helvetica Now Text Regular Italic";
	src: url("../helveticanow/HelveticaNowText-RegIta.woff") format("WOFF");
}

* {
	text-decoration: none;
	margin: 50px;
	padding: 0px;
    box-sizing: border-box;
	cursor: url('/images/bow-mouse.png'), auto;
}

.nav {
	margin: 50px;
}

.fancy-mouse {
    width: 2.2%;
    animation: bounce 2.1s ease-in-out infinite;
}

.main-wrapper div {
	margin-bottom: 15px;
}

.fancy-mouse, .index-logo-img {
	filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.538));
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(4px);
    }
}

@keyframes floatAnimation {
	0% {
		transform: translateY(0); 
	}
	100% {
		transform: translateY(-2px);
	}
}

/* DROPDOWN MOBILE */
.dropdown {
	position: relative;
  }
  
  .dropdown-button {
	display: flex;
	background: none;
	width: 100%;
	-webkit-box-align: center;
	border: none;
	color: #B2A2A2;
	font-size: 14px;
	font-family: "Helvetica Now Text Medium";
	cursor: pointer;
	padding: 10px 20px;
	text-align: left;
	gap: 8px;
  }

  .nav_item_links {
	margin-bottom: 6px;
	position: center;
  }

  .nav_item_links:hover {
	color: #837c7c;
  }

  
  .dropdown-content {
	margin-top: 2px;
	display: none;
	position: absolute;
	background-color: #000;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	z-index: 1;
	width: max-content;
	border: 1.5px solid #1B1A1A;
  }
  
  .dropdown-content .dropdown-item {
	color: #B2A2A2;
	text-decoration: none;
	display: block;
	padding: 4px 8px;
	font-size: 9px;
	font-family: "Helvetica Now Text Medium";
  }

	.dropdown-content.show {
		display: block;
	}

	.dropdown-content .dropdown-item:active {
		background-color: #211e1e;
		border-radius: 4px;
		width: 100%;
	}

.nav_links {
	flex-direction: column;
	align-items: flex-start;
}

.navfixed {
	margin: 20px 40px;
}

.nav_links li.current-page a {
    color: #837c7c; /* NAV LINK HOVER COLOR */
}


.nav_links {
    list-style: none;
    display: flex;
    justify-content: end; 
	flex-direction: column;
    align-items: flex-end;
    font-family: "Helvetica Now Text Medium";
    align-content: flex-end;
    flex-wrap: wrap;
	z-index: -10;
	margin-top: -25px;
}

.navitem {
	padding: 5px;
	font-size: 9px;
}

.nav_links .navitem a {
	color: #C4BABA;
}

.superscript {
    font-size: 0.7em; 
    vertical-align: super; 
    color: #C4E80D;
	background-color: rgba(196, 232, 13, 0.237); 
	border-radius: 6px;
	padding-left: 3px;
	padding-inline: 3px;
    margin-left: 1px; 
}

.superscript-foot {
    font-size: 0.7em; 
    vertical-align: super; 
    color: #C4BABA;
    margin-left: 2px; 
}

/* UPDATED MOBILE FIRST CSS <3*/
*, .nav {
	margin: 10px;
}

.nav_links .nav_item1, .nav_links .nav_item2, .nav_links .nav_item3, .nav_links .nav_item4, .nav_links .nav_item5 {
	margin-bottom: 6px;
}

#main {
    margin: 10px 40px; 
    display: flex;      
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: column; 
}


.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main_content_home {
	display: flex;
	justify-content: center;
}

.index-logo {
	display: flex;
    flex-direction: column;
    align-items: center;
}



@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-header-wrap {
	margin-top: 30px;
}

.collage-h1 {
    margin-bottom: 4px;
}

.col-proj-desc {
	font-size: 10px;
}

.portfolio-h1 {
	font-family: "Inconsolata SemiBold";
	font-size: 16px;
	color: #C4BABA;
}

.proj-overlay-img {
	display: none;
}

.sq-proj:nth-child(odd) {
    animation: bounceInRight 1.2s ease forwards;
}

.sq-proj:nth-child(even) {
    animation: bounceInLeft 1.2s ease forwards;
}

.sq-proj:nth-child(3n) {
    animation: bounceInUp 1.2s ease forwards;
}

.sq-proj:nth-child(3n+1) {
    animation: bounceInDown 1.2s ease forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sq-proj {
    animation: fade 0.5s ease-in-out forwards;
}

@keyframes animate {
	0% {
        transform: translateY(-25%) translateX(40%) rotate(0deg)
    }
    30% {
        transform: translateY(0) translateX(0) rotate(90deg) scaleX(.85)
    }
    50% {
        transform: translateY(-25%) translateX(-40%) rotate(180deg)
    }
    70% {
        transform: translateY(0) translateX(0) rotate(270deg) scaleX(.85)
    }
    to {
        transform: translateY(-25%) translateX(40%) rotate(1turn)
    }
}

.index-img {
	width: 37%;
	position: relative;
}

.index-logo-img {
	width: 90%;
	position: relative;
	z-index: 1;
}

.index-blur-img {
	z-index: -100;
	width: 17%;
	opacity: 60%;
	top: -15px; 
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0; 
	width: 20%;
	opacity: 0.85; 
	position: absolute;
}

.blur-overlap {
	display: flex;
	align-items: center;
	position: relative;
}

.intro-wrap {
	display: flex;
	justify-content: center;
	width: 56%;
}

.index-pic {
    margin-left: 85%;
    margin-bottom: -15%;
}

.index-pic {
	animation: floatAnimation 2.8s ease-in-out infinite alternate; 
}

@keyframes floatAnimation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-4px); 
	}
}

/* ETC MOBILE SECTION */
	.etc-intro {
		margin-bottom: 2%;
	}

	.etc-h2 {
		font-family: "Helvetica Now Text Regular";
		font-size: 12px;
		color: #a89d9d;
	}

	.etc-h1-wrap {
		margin-bottom: 12px;
	}

	.medium-wrap {
		display: flex;
		flex-direction: column;
		gap: 3%;
		margin-bottom: 10%;
	}

	.etc-header-wrap {
		display: flex;
		flex-direction: column;
		gap: 3%;
		margin-bottom: 6%;
		border-bottom: .5px solid #c4baba6d;
	}

	.audio-wrap {
		display: flex;
		flex-direction: column;
		gap: 2%;
	}

	.audio-div {
		display: flex;
		gap: 4%;
		align-items: center;
		background-color: #2b2727;
		border-radius: 10px;
		padding: 1.2%;
		border: .7px solid #B2A2A2;
		margin-bottom: 2%;
		width: 100%;
		height: 36%;
	}

	.audio-img {
		width: 18%;
		opacity: 1;
		transition: opacity 0.3s ease;
		cursor: pointer;
	}

	.audio-img:hover, .audio-img.playing { 
		opacity: .6;
	}

	.audio-p {
		font-size: 10px;
		font-family: "Helvetica Now Text Regular";
		line-height: 150%;
	}

	.ap-green {
		color: #9DBA52;
	}

	.ap-blue {
		color: #A99E95;
	}

	.audio-desc {
		width: 100%;
		font-size: 10px;
		font-family: "Helvetica Now Text Light";
		color: #C4BABA;
		line-height: 150%;
	}

	.logo-img {
		width: 18%;
	}

	.logo-wrap {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2%;
	}


.main-wrapper {
	margin-top: 50px;
	margin-bottom: 20%;
}

.bold-kali {
	font-family: "Helvetica Now Text Bold";
	text-transform: capitalize;
	color: #FA88AB;
}

.bold-um {
	font-family: "Helvetica Now Text Bold";
	color: #3A97ED;
}

.bold-yellow {
	font-family: "Helvetica Now Text Bold";
	color: #C4E80D;
}

.bold-nf {
	font-family: "Helvetica Now Text Bold";
	color: #5DDABC;
}

.rae {
	font-size: 8px;
	margin-left: -2.2px;
}

.bold-kali:hover,  .bold-um:hover, .bold-nf:hover, .bold-yellow:hover {
	font-family: "Helvetica Now Text Medium Italic";
}

.intro-text-wrap {
	z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 3.5%;
	width: 80%;
}

.sub-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
	padding-bottom: 2%;
}

.intro-sub-text, .abst {
	font-family: "Helvetica Now Text Light";
	font-size: 7px;
	line-height: 162%;
	color: #baaeae;
}

.intro-h2 {
	font-family: "Inconsolata Bold";
	font-size: 10px;
	color: #FA88AB;
}

/* MOBILE PORTFOLIO: */
.fig-img, .vs-img {
	width: 49%;
	margin-bottom: 1%;
}

.fig-img {
	animation: floatAnimation 2.3s ease-in-out infinite alternate; /* Apply animation */
	position: relative;
}

.vs-img {
	animation: floatAnimation 2.3s ease-in-out infinite alternate; /* Apply animation */
	animation-delay: .5s;
	position: absolute;
	width: 40%;
	margin-left: 35%;
	margin-top: 18%;
}

.fig-vs-div {
	display: flex;
	position: relative;
}

.port-cols {
	flex-direction: row;
	align-items: flex-start;
	margin: 0px 70px 70px 70px;
}

.port-cols {
	margin-top: -5%;
}

.about-h1-col {
	margin-right: 17%;
}

.updated-foot {
	color: #b1a8a8;
	/* font-family: "Inconsolata"; */
	font-family: "Helvetica Now Text Regular";
	font-size: 7px;
}

.portfolio-col {
	margin-right: 0%;
}

.port-main {
	margin-bottom: -13%;
}

.port-pic-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 35%;
}

.dev-img {
	width: 90%;
	padding-bottom: 5%;
	height: 90%;
	opacity: 0;
}

.web-outer-wrap {
	display: flex;
	flex-direction: column;
}

.web-h4 {
	color: #baaeae;
	font-family: "Helvetica Now Text Medium Italic";
	font-size: 8px;
	margin-bottom: 8px;
}

.tags-wrap {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; 
}
.about-tag {
	color: #baaeae;
	font-family: "Helvetica Now Text Regular";
	font-size: 7px;
	display: inline-block;
	padding: 4px 4px; 
	border: .5px solid currentColor; 
	border-radius: 2px;
	cursor: default; 
	white-space: nowrap;
	transition: background-color 0.5s, color 0.5s; 
	background-color: #1e1b1b;
}

.web-outer-warp {
	margin-bottom: 6px;
}

.web-wrap {
	margin: 8px 0 14px 0;
}

/* MOBILE NEW FOOTER: */
.outer-foot {
	display: flex;
	flex-direction: column;
	margin: 10px 40px;
	margin-top: 18%;
} 

.footer-div {
	display: flex;
	flex-direction: row-reverse;
	width: inherit;
	justify-content: space-between;
	align-items: center;
}

.credit, .credit-txt {
	font-family: "Helvetica Now Text Regular";
	color: #C4E80D; 
	font-size: 7px;
}

.foot-nav-div {
	display: flex;
	flex-direction: column-reverse;
}

.foot-phones {
	width: 6%;
}

.foot-line {
	height: .2px;
	background: #C4BABA;
	margin-bottom: 4%;
}

.foot-nav-links {
	width: 20vw;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	align-items: flex-end;
	list-style: none;
}

.foot-nav-wrapper {
	display: flex;
	flex-direction: column;
}

.footer-rights {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.foot-nav-links li a {
	font-size: 8px;
	font-family: "Helvetica Now Text Regular";
	color: #C4BABA; 
	padding-top: 5px;
}

.foot-nav-links li {
	padding-top: 4.5px;
}

.foot-h4 {
	color: #7f7f7f;
	font-family: "Helvetica Now Text Medium";
	font-size: 8px;
}

.rights-p {
	color: #C4BABA;
	font-family: "Helvetica Now Text Light";
	font-size: 7px;
}

.credit {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
}

.credit-txt {
	color: #C4E80D;
	font-family: "Helvetica Now Text Regular";
	margin-top: 2.5%;
}

/* END NEW MOBILE FOOTER */



/* NEW PROJ MOBILE PAGE: */
.proj-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px; /* Space from top of main */
}


.proj-h1 {
	font-family: "Inconsolata SemiBold";
	font-size: 16px;
	color: #C4BABA;
}

.about-div-wrapper {
	display: flex;
	justify-content: center;
	margin: 65px 40px 65px 40px;
}

.projs-flex {
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
}

.sq-proj {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10%;
}


/* bubble flex: */
.proj-h2 {
	font-family: "Helvetica Now Text Medium";
	color: #C4BABA;
	font-size: 9px;
	margin-bottom: 3%;
}


.proj-head-flex {
	margin-right: 7%;
}

.proj-h2 a {
	color: #C4BABA;
}

.proj-h3-wrap {
    display: inline-block;
    background-color: rgba(196, 232, 13, 0.108); 
    border-radius: 2px;
    padding: 1px; 
}

.proj-h3 {
    color: #C4E80D;
    padding: 1px; 
	font-family: "Inconsolata Medium";
	font-size: 7px;
}

/* DYNAMIC PROJECTS MOBILE */
.project-rows-wrapper {
	display: flex;
	flex-direction: column;
}

.project-row-wrap {
    border-radius: 6px;
    border: 2px solid #312E2E;
    background: #1D1A1A;
    display: flex;
    padding: 3%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
	gap: 14px;
	margin-bottom: 8%;
}

.proj-img {
    width: 100%; 
    /* object-fit: cover; */
}

.proj-right-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0; 
	width: 50%;
	gap: 6px;
}

.proj-heading {
    display: flex;
    flex-direction: column;
    gap: 5px; /
}

.proj-inside-header {
    color: #c4baba;
    font-family: "Helvetica Now Text Medium";
    font-size: 12px;
}

.proj-desc {
    color: #c4baba;
    font-family: "Helvetica Now Text Light";
    line-height: 130%;
    font-size: 8px; 
    margin-top: 2%;
	width: 80%;
}

.proj-date-label {
    font-size: 8px;
    font-family: "Inconsolata Bold";
    color: #C4BABA;
}

.project-header-wrap {
	margin-top: 70px;
}

.proj-h3-wrap {
	padding: 1px;
}

.proj-h3 {
	font-size: 9px;
}

/* COLLAGE STYLING: */
.collage-h1 {
	margin-bottom: 16px;
}

.collage-main-wrap {
	margin: 70px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.col-proj-desc {
	font-family: "Helvetica Now Text Light";
	color: #C4BABA;
	font-size: 13px;
	line-height: 150%;
}

.collage-header-wrap {
	margin-bottom: 4%;
}

.temp-headers {
	font-family: "Helvetica Now Text Medium";
	font-size: 12px;
	color: #C4BABA;
	margin-bottom: 2%;
}

.coll-desc, .coll-soon {
	font-size: 12px;
	font-family: "Inconsolata Medium";
	color: #C4BABA;
	margin-bottom: 5%;
}

.collage-span {
	color: #C4E80D;
	font-family: "Helvetica Now Text Regular";
}

.collage-main {
	margin: 20px;
}

.collage-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.coll-img-style, .coll-img-ui {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.coll-img-ui img {
    margin-bottom: 15px; 
}

.coll-img-style img {
	width: 100%;
}

.coll-img-ui img {
	width: 100%;
}





.kf:hover, .new_logo:hover {
	transform: rotate(-3deg);
}

.kf, .new_logo {
	transition: transform 120ms ease-in-out;
	transition-delay: 60ms;
	width: 30px;
	z-index: 12;
	mix-blend-mode: difference;
	filter: hue-rotate(90deg) brightness(1.2); 
}

.nav_links li a {
	color: #C4BABA;
	padding: 0 5px;
}

.nav_links li a:hover {
	color: #837c7c;
	padding: 0 5px;
}

.current {
	color: #C4BABA;
	font-family: "Helvetica Now Text Bold";
}


.nav_links .nav_item1:hover, .nav_links .nav_item2:hover, .nav_links .nav_item3:hover, .nav_item4:hover, .nav_links .nav_item5:hover {
	transform: translateY(-.5px);
}

.navimg {
	width: 3%;
}

nav li:current {
	color: green;
}


nav:focus {
	text-decoration: underline;
}

.skip a {
	background: white;
	border-radius: round;
	padding: 3px;
	-webkit-transition: top .5s ease-out;
	transition: top .5s ease-out;
	z-index: 1;
	position: absolute;
	top: -40px;
}
  
.skip a:focus {
	position: absolute;
	top: 20px;
}

.foot {
    display: flex;
    flex-direction: column;
    /* background-color: #241F1F; */
    margin-top: 100%;
    padding: 25px 15px 2px 15px;
}

.footer_links {
	list-style: none;
	font-size: 10px;
	margin-top: -15.8%;
	font-family: "Helvetica Now Text Medium";
    text-transform: uppercase;
	margin: auto;

	display: flex;
	justify-content: start; 
	flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

/* NEW ABOUT MOBILE */
.about-cols {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.about-h1 {
	font-family: "Inconsolata SemiBold";
	font-size: 25px;
	color: #C4BABA;
	margin-right: 13%;
}

.pic-about-col {
	display: flex;
	flex-direction: column;
}

.about-img {
	width: 30%;
	margin-bottom: 1%;
}

.interests-div {
	margin: 10% 0% 25% 0%;
}


.name-ab {
	color: #C4BABA;
	font-family: "Helvetica Now Text Regular";
	font-size: 10px;
	padding: 7px 7px 7px 0px;
}

.about-h1-col {
	margin-right: 17%;
	margin-bottom: 5%;
	align-self: flex-start;
}

.ab-head-sub {
	color: #9b8e8e;
	font-family: "Helvetica Now Text Regular";
	font-size: 12px;
	line-height: 17px;
}


.pic-div {
	display: flex;
	flex-direction: column;
	margin: 5% 2% 5% 0%;
}

.cur-head {
	color: #C4BABA;
	opacity: 55%;
	font-family: "Inconsolata SemiBold";
	font-size: 13px;
}

.col-head {
	color: #C4BABA;
	font-family: "Helvetica Now Text Medium";
	font-size: 10px;
	padding-bottom: 3%;
}

.col-section-wrap {
	display: flex;
	flex-direction: column;
}

.col-section:nth-child(1) {
	margin-bottom: 16px;
}

.purpose-col {
	margin: 0% 5.5% 25% 0%;
}

.portfolio-col {
	width: 60%;
}

.currently {
	font-size: 10px;
	letter-spacing: .3mm;
	color: #FF9595;
	font-family: "Inconsolata SemiBold";
	padding: 0px 0px 7px 0px;
} 

.bold-sub {
	font-family: "Inconsolata Bold";
	color: #C4BABA;
}

.link-hover:hover {
	color: #786d6d;
}

.currently-list li{
	list-style-type: none;
	color: #C4BABA;
	padding-bottom: 1.5%;
}

.cur-sub {
	color: #C4BABA;
	font-family: "Inconsolata Medium";
	font-size: 14px;
	padding-left: 3%;
}

.currently-list li:nth-child(even) {
	padding-bottom: 5%;
}


/*     LAPTOP MEDIA QUERY  */
/* LAPTOP NEW INDEXHTML KAL HERE */
@media screen and (min-width: 768px) { 
	.new_logo.kf {
		width: 42px;
		padding: 5px;
	}

	/* js transition on load */
	.hidden {
		opacity: 0;
		transition: all 1s;
		transform: translateX(-100%);
	}

	.show {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0);
	}
	
	.main_content_home {
		display: flex;
		justify-content: center;
	}

	.main-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.intro-wrap {
		display: flex;
		justify-content: center;
	}

	/* DROPDOWN LINKS: */
	.dropdown {
		position: relative;
	  }
	  
	  .dropdown-button {
		display: flex;
		background: none;
		width: 100%;
		-webkit-box-align: center;
		border: none;
		color: #B2A2A2;
		font-size: 14px;
		font-family: "Helvetica Now Text Medium";
		cursor: pointer;
		padding: 10px 20px;
		text-align: left;
		gap: 8px;
	  }

	  .nav_item_links {
		margin-bottom: 6px;
		position: center;
	  }

	  .nav_item_links:hover {
		color: #837c7c;
	  }
	  
	  .dropdown-content {
		margin-top: 2%;
		display: none;
		position: absolute;
		background-color: #000;
		padding: 8px;
		border-radius: 8px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
		z-index: 1;
		width: max-content;
		border: 1.5px solid #1B1A1A;
	  }
	  
	  .dropdown-content .dropdown-item {
		color: #B2A2A2;
		text-decoration: none;
		display: block;
		padding: 8px 16px;
		font-size: 12px;
		font-family: "Helvetica Now Text Medium";
	  }
	  
	  .dropdown-content .dropdown-item:hover {
		background-color: #211e1e;
		border-radius: 4px;
		width: 100%;
	  }
	  
	.dropdown:hover .dropdown-content {
	display: block;
	}

	.dropdown-button {
		display: flex;
		flex-direction: row;
		gap: 8px;
	}
	
	.nav_links, .dropdown-button {
		list-style: none;
		display: flex;
		justify-content: end;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		padding-top: 1%;
		margin: 0;
		z-index: 100;
	}

	.navitem {
		font-size: 12px;
		transition: transform 290ms ease-in-out;
	}

	.navfixed  {
		margin: 10px 210px 30px 210px;
	}


	.nav_links .nav_item1, .nav_links .nav_item2 {
		position: center;
	}

	nav img {
		position: fixed;
	}

	.navfixed a {
		width: 5%;
	}

	.intro-sub-text, .abst {
		font-family: "Helvetica Now Text Light";
		margin-top: 4%;
		font-size: 11px;
		line-height: 145%;
	}

	.abst {
		margin-top: 6px;
	}

	.intro-h2 {
		font-size: 18px;
		color: #fa88aadc;
	}

	.intro-outer {
		width: 36%;
	}

	.index-img {
		width: 32%;
		position: relative;
	}

	.index-logo-img {
		width: 82%;
		position: relative;
		z-index: 1;
	}
	
	.index-blur-img {
		z-index: -100;
		width: 17%;
		opacity: 60%;
		top: -15px; 
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 0; 
		width: 20%;
		opacity: 0.85; 
		position: absolute;
	}

	.blur-overlap {
		display: flex;
		align-items: center;
		position: relative;
	}


	.index-pic {
		margin-left: 75%;
		margin-bottom: -12%;
	}

	.index-pic {
		animation: floatAnimation 2.3s ease-in-out infinite alternate; 
	}
	
	@keyframes floatAnimation {
		0% {
			transform: translateY(0); 
		}
		100% {
			transform: translateY(-5.5px); 
		}
	}

		
	.main-wrapper {
		margin-top: 90px;
	}

	/* kal here 2 */
	

	/* ———————————————————————————————————————————————————————new_index.html———————————————————— */
	.index-group {
		font-size: 17px;
		line-height: 118%;
	}

	.new_logo {
		width: 12%;
		margin-top: 5px;
	}


	/* THREE - flex for index sections */
	.welcome-index {
		display: flex;
		width: 86vw;
	}

	.front {
		z-index: 1;
	}

	.welcome-txt1 {
		font-family: "Inconsolata Light";
	}
	
	.welcome-txt {
		display: flex;
		align-items: stretch;
		width: 86vw;
		justify-content: space-between;
	}

	.welcome-desc1 {
		width: 55%;
	}

	.welcome-desc2 {
		width: 55%;
	}

	.and-flex img {
		height: 38px;
	}
	/* —————————————————————————————————————- */

	.indx_line_new {
		width: 60%;
		margin-left: 3px;
		height: .04px;
		background-color: white;
		margin-top: 6px;
		z-index: 100;
	}

	.h2-index {
		font-size: 38px;
		line-height: 130%;
		font-family: "Helvetica Now Text Regular";
		color: #C4BABA;
		width: 80%;
	}

	.blur-wrapper {
		margin-top: 15%;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.location-index {
		font-family: "Helvetica Now Text Regular";
		color: #C4BABA;
		font-size: 12px;
		line-height: 16px;
		width: 20%;
		z-index: -90;
	}

	.index-blur-div {
		display: flex;
		flex-direction: column;
		align-items: left;
		width: 100%;
		margin-left: 20%;
	}

	.pic-row {
		margin-top: 2.5%;
		display: flex;
		justify-content: left;
		align-items: flex-start;
	}

	/* BLUR INDEX:—————————————————————————————————————- */

	.intro-wrap {
		width: 34%;
	}


	.hithere {
		margin-left: 90px;
	}
	
	.fl {
		padding: 10px;
	}

	/* NEW FOOTERRR */
	.outer-foot {
		display: flex;
		flex-direction: column;
		margin: 90px 220px 30px 225px;
		margin-top: 20%;
	}

	.foot-container {
		display: flex;
		flex-direction: row;
		padding: .5%;
		justify-content: space-between;
	}

	.credit {
		margin-top: 16%;
		display: flex;
		width: 90%;
		align-items: center;
	}

	.foot-line {
		margin-bottom: 15px;
	}

	.rights-p {
		font-size: 10px;
		opacity: .6;
	}

	.footer-div {
		justify-content: space-between;
		margin-top: 0;
	}

	/* .foot-nav-div:nth-child(1) {
		margin-bottom: 7%;
	} */

	.foot-h4 {
		font-size: 10px;
	}

	.foot-nav-links li a {
		font-size: 10px;
	}

	.foot-nav-links {
		align-items: flex-end;
	}

	.foot-nav-links li a:hover {
		color: #837c7c;
	}
	


	.foot-phones {
		width: 9%;
		margin-right: 1%;
	} is

	.credit, .credit-txt {
		font-size: 10px;
	}

	.updated-foot {
		font-size: 10px;
	}

	.kf-23 {
		display: flex;
		align-items: flex-end;
	}

	.simple-foot-links li:nth-child(1) {
		padding-right: 30px; 
	}

	.simple-foot-links {
		flex-direction: row;
		display: flex;
		margin-top: 4%;
		align-items: flex-end;
		list-style: none;
		width: 37vw;
	}

	.simple-foot-links li a {
		font-size: 14px;
		font-family: "Helvetica Now Text Regular";
		color: white; 
		padding: 10px;
	}

	.simple-foot-links li a:hover {
		font-size: 14px;
		font-family: "Helvetica Now Text Medium";
		color: #786d6d; 
		padding: 10px;
	}

	.grey-foot {
		font-size: 14px;
		font-family: "Helvetica Now Text Regular";
		color: white; 
		opacity: 60%;
	}

	/* NEW PROJECTS LAPTOP  --------------------------------------------------------------------------*/

	#main {
		margin: 30px 210px;
	}

	.proj-h1 {
		font-size: 25px;
		margin: 0% 13% 0% 0%;
	}
	
	.about-div-wrapper {
		display: flex;
		justify-content: center;
		margin: 90px 80px 70px 85px;
	}

	.projs-flex {
		display: grid;
		grid-template-columns: 30vw 30vw;
		grid-gap: 6%; 
		width: 100%; 
		margin: 60px 0px 0px 0px;
		justify-content: center;
	}

	.sq-proj {
		margin-bottom: 0;
	}

	.sq-proj {
		position: relative;
	}
	
	.proj-img {
		transition: transform 0.7s, box-shadow 0.4s;
	}
	
	.sq-proj:hover .proj-img {
		transform: translateY(-2px); 
		box-shadow: 0 4px 8px rgba(54, 52, 52, 0.1);
	}

	.sq-proj:hover .proj-img {
		transform: translateY(-2px); 
		box-shadow: 0 4px 8px rgba(54, 52, 52, 0.1);
	}

	.pot-group {
		display: flex;
		position: relative;
		justify-content: center;
		/* margin-bottom: 50px; */
	}

	.pot-back {
		width: 82%;
		position: absolute;
		top:0;
		left: 0;
		z-index: -100;
	}

	.pot-front {
		width: 40%;
	}

	.index-logo-img {
		width: 79%;
		position: relative;
		z-index: 1;
	}

	/* bubble flex: */
	.proj-h2 {
		font-family: "Helvetica Now Text Medium";
		color: #C4BABA;
		font-size: 18px;
		margin-bottom: 2.5%;
	}

	.proj-img {
		width: 100%;
	}

	.proj-head-flex {
		margin-right: 13%;
	}

	.proj-h2 a {
		color: #C4BABA;
		align-items: center;
	}

	.proj-h3 {
		font-size: 14px;
	}

	.proj-desc {
		font-size: 12px;
	}

	/* DYNAMIC PROJECTS.HTML */

	/* for index: */
	.new-project-index-wrap {
		margin: 30px 210px;
	}
	.project-row-wrap {
		border-radius: 8px;
		border: 2px solid #312E2E;
		padding: 2%;
		justify-content: space-between;
		align-items: stretch;
		height: 100%;
		gap: 34px;
	}

	.project-row-wrap:hover {
		background: #232121;
		border: 2px solid #453f3f;
	}
	.project-row-wrap {
		transition: background 0.4s ease;
		transition: border 0.4s ease;
	}

	.project-header-wrap {
		margin-bottom: 2%;
	}
	
	.proj-img {
		width: 100%; 
	}

	.proj-desc {
		width: 100%;
	}

	.proj-right-text {
		gap: 0;
	}

	.proj-h3-wrap {
		padding: 2px;
	}

	.proj-inside-header {
		font-size: 28px;
	}

	.proj-date-label {
		font-size: 14px;
	}

	/* DYNAMIC COVER TEST: */
	.proj-img-container {
		position: relative;
		overflow: hidden; 
		width: 100%;
		height: auto;
	}

	.proj-img {
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
	}

	.proj-overlay-img {
		position: absolute;
		display: block;
		right: 8%; 
		bottom: -8%;
		height: auto; 
		transform: scale(1);
		animation: growAndBounce 14s infinite ease-in-out;
		pointer-events: none;
	}

	@keyframes growAndBounce {
		0%, 100% {
			transform: translateY(0) scale(1); /* Original position and size */
		}
		25% {
			transform: translateY(-3px) scale(1.2); /* Move up slightly and grow */
		}
		50% {
			transform: translateY(3px) scale(1); /* Move down slightly */
		}
	}

	.proj-overlay-img {
		width: 56%;
	}

	.nf-passcode-img {
		width: 34%;
		bottom: 0%;
		animation: moveLeftRight 6s infinite ease-in-out;
		animation-delay: 2s;
	}

	.bubble-move {
		width: 60%;
		right: 18%;
		animation-delay: 6s;
		animation: growAndBounce 6s infinite ease-in-out;
	}

	@keyframes moveLeftRight {
		0%, 100% {
		  transform: translateX(0); 
		}
		25% {
		  transform: translateX(-6px); 
		}
		50% {
		  transform: translateX(6px); 
		}
	  }

	.potluck-move {
		width: 52%;
		animation-delay: 8s;
		bottom: -13%;
		right: 12%;
		animation: growAndBouncePot 10s infinite ease-in-out;
	}

	.duo-move {
		width: 18%;
		bottom: 70%;
		right: 72%;
		animation-delay: 7s;
		animation: growAndBouncePot 2s infinite ease-in-out;
	}


	@keyframes growAndBouncePot {
		0%, 100% {
			transform: translateY(0) scale(1); /* Original position and size */
		}
		25% {
			transform: translateY(-3px) scale(1.01); /* Move up slightly and grow */
		}
		50% {
			transform: translateY(3px) scale(1); /* Move down slightly */
		}
	}

	/* ETC LAPTOP SECTION: */
	.etc-h2 {
		font-size: 16px;
	}

	.etc-p {
		font-size: 11px;
		width: 40%;
	}

	.audio-p {
		font-size: 12px;
	}

	.etc-header-wrap {
		flex-direction: row;
	}

	.medium-wrap {
		flex-direction: row;
	}

	.audio-wrap {
		flex-direction: row;
	}

	.audio-div {
		width: 90%;
	}

	.audio-div {
		display: flex;
		gap: 4%;
		align-items: center;
		background-color: #2b2727;
		border-radius: 10px;
		padding: 1.2%;
		border: .7px solid #B2A2A2;
		margin-bottom: 2%;
		width: 100%;
		height: 36%;
	}

	/* NEW ABOUT LAPTOP: */
	.about-cols {
		flex-direction: row;
		align-items: flex-start;
		margin-top: 80px;
	}

	.about-h1 {
		font-family: "Inconsolata SemiBold";
		font-size: 25px;
		color: #C4BABA;
		margin-right: 13%;
	}

	.portfolio-h1 {
		font-family: "Inconsolata SemiBold";
		font-size: 25px;
		color: #C4BABA;
		margin-bottom: 14px;
	}

	.port-main {
		margin: 50px;
		margin-top: 80px;
	}

	.pic-about-col {
		display: flex;
		flex-direction: column;
		width: 25%;
	}

	.fig-vs-div {
		width: 30%;
		margin-left: -20%;
		z-index: -12;
	}

	.port-about-col {
		margin-right: 10%;
	}

	.about-img {
		width: 49%;
		margin-bottom: 1%;
	}

	.about-img {
		animation: floatAnimation 2.3s ease-in-out infinite alternate; /* Apply animation */
	}

	/* NEW (TAGS) ABOUT CSS - LAPTOP ———————————————— */
	.web-h4	{
		font-size: 10px;
		margin-bottom: 8px;
	}

	.about-tag {
		font-size: 9px;
		padding: 5px 5px;
		transition: background-color 0.3s, color 0.3s; 
	}

	.about-tag:hover {
		color: #211c1c;
		background-color: rgba(243, 180, 191, 0.694);
	}

	.movie-hover {
		cursor: url('/images/movie-hover.png'), auto; 
	}
	.music-hover {
		cursor: url('/images/headphones-hover.png'), auto; 
	}
	.art-hover {
		cursor: url('/images/art-hover.png'), auto; 
	}
	.love-hover {
		cursor: url('/images/love-hover.png'), auto; 
	}
	.it-hover {
		cursor: url('/images/it-hover.png'), auto; 
	}
	.cycle-hover {
		cursor: url('/images/cycle-hover.png'), auto; 
	}
	.ds-hover {
		cursor: url('/images/ds-hover.png'), auto; 
	}
	.ski-hover {
		cursor: url('/images/ski-hover.png'), auto; 
	}
	.write-hover {
		cursor: url('/images/write-mouse.png'), auto; 
	}

	.small-proj {
		width: 30%;
	}

	.password-wrap {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	


/* PORTFOLIO.HTML CSS */
	.fig-img, .vs-img {
		width: 49%;
		margin-bottom: 1%;
	}

	.fig-img {
		animation: floatAnimation 2.3s ease-in-out infinite alternate; /* Apply animation */
		position: relative;
	}

	.vs-img {
		animation: floatAnimation 2.3s ease-in-out infinite alternate; /* Apply animation */
		animation-delay: .5s;
		position: absolute;
		width: 40%;
		margin-left: 35%;
		margin-top: 18%;
	}

	.fig-vs-div {
		display: flex;
		position: relative;
	}

	.port-cols {
		flex-direction: row;
		align-items: flex-start;
		margin: 0px 70px 70px 70px;
	}

	.port-cols {
		margin-top: -19%;
	}
	
	.interests-div {
		margin-top: 10%;
	}
	
	.name-ab {
		color: #C4BABA;
		font-family: "Helvetica Now Text Regular";
		font-size: 13px;
		padding: 7px 7px 7px 0px;
	}

	.about-h1-col {
		margin-right: 17%;
	}

	.portfolio-col {
		margin-right: 0%;
	}

	.port-main {
		margin-bottom: -13%;
	}

	.port-pic-wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 40%;
	}

	.dev-img {
		width: 110%;
		padding-bottom: 5%;
		height: 90%;
		opacity: 1;
	}

	.ab-head-sub {
		color: #978c8c;
		font-family: "Helvetica Now Text Regular";
		font-size: 10px;
		line-height: 16px;
	}


	.pic-div {
		display: flex;
		flex-direction: column;
		margin: 0% 2% 14% 0%;
	}

	.cur-head {
		color: #C4BABA;
		opacity: 55%;
		font-family: "Helvetica Now Text Regular";
		font-size: 13px;
	}

	.col-head {
		color: #C4BABA;
		font-family: "HELVETICA NOW TEXT medium";
		font-size: 12px;
		padding-bottom: 2%;
		text-transform: uppercase;
	}

	.purpose-col, .phil-col {
		width: 33%;
	}

	.currently {
		font-size: 10px;
		letter-spacing: .3mm;
		color: #FF9595;
		font-family: "Inconsolata SemiBold";
		padding: 0px 0px 7px 0px;
	} 

	.bold-sub {
		font-family: "Helvetica Now Text Medium";
		color: #C4BABA;
	}

	.underline {
		text-decoration: none;
		position: relative;
	}
	
	.underline::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: currentColor;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.28s ease-in-out;
	}
	
	.underline:hover::after {
		visibility: visible;
		transform: scaleX(1);
	}	

	.link-hover:hover {
		color: #786d6d;
	}

	.currently-list li{
		list-style-type: none;
		color: #C4BABA;
		padding-bottom: 1.5%;
	}

	.cur-sub {
		color: #C4BABA;
		font-family: "Inconsolata Medium";
		font-size: 14px;
		padding-left: 3%;
	}

	.currently-list li:nth-child(even) {
		padding-bottom: 5%;
	}
}