@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-MediumItalic.woff2') format('woff2'),
        url('HelveticaNowText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-Regular.woff2') format('woff2'),
        url('HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-Medium.woff2') format('woff2'),
        url('HelveticaNowText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-Light.woff2') format('woff2'),
        url('HelveticaNowText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-ExtLtIta.woff2') format('woff2'),
        url('HelveticaNowText-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowText';
    src: url('HelveticaNowText-Bold.woff2') format('woff2'),
        url('HelveticaNowText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

